.zodiac-sidebar {
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  height: 100%;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.5rem;
}

.zodiac-sidebar__sign_list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  padding: 0;
  padding-left: 0;
  margin-top: 36px;
  list-style: none;
}

.zodiac-sidebar__all-button-container {
  display: flex;
  justify-content: center;
  margin-bottom: auto;
  padding: 16px 0;
}

.zodiac-sidebar__all-button {
  height: 35px;
  width: 119px;
  color: black;
  background-color: #f19edc;
}

.zodiac-sidebar__sign-icon {
  width: 60px;
  height: 60px;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.zodiac-sidebar__sign-button {
  font-size: 14px;
  background-color: transparent;
  padding: 0.2em 1.2em;
}

.zodiac-sidebar__sign-button:hover {
  border-color: transparent;
}

.zodiac-sidebar__sign-icon:hover {
  transform: scale(0.9);
}

@media screen and (max-width: 885px) {
  .zodiac-sidebar__sign_list {
    grid-template-columns: repeat(3, 1fr);
    margin-top: 0;
    gap: 10px;
    margin-bottom: 0;
  }

  .zodiac-sidebar {
    height: 399px;
    align-items: center;
    display: flex;
    width: 100%;
    padding: 1.5rem;
  }
  .zodiac-sidebar__sign-button {
    padding: 1px 20px;
  }
  .zodiac-sidebar__sign-item {
    flex: 0 0 auto;
  }
}

@media screen and (max-width: 450px) {
  .zodiac-sidebar__sign-icon {
    width: 44px;
    height: 36px;
  }

  .zodiac-sidebar {
    padding: 0;
    padding-bottom: 10px;
    height: 319px;
  }

  .zodiac-sidebar__all-button-container {
    margin-bottom: 0;
  }
}
