.home-main {
  margin: 0 auto;
  padding: 2rem 1rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
   flex-grow: 1;
   justify-content: center;
}

.home-main__image {
  width: 180px;
  height: 180px;
  animation: pulse 4s infinite;
  border-radius: 50%;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
}

.home-main__description {
  max-width: 600px;
  text-align: left;
  align-items: center;
}

.home-main__title {
  margin-top: 50px;
  margin-bottom: 0;
}
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

@media screen and (max-width: 750px) {
  .home-main__title {
    font-size: 22px;
  }
}

@media screen and (max-width: 545px) {
  .home-main__title {
    font-size: 20px;
  }
}

@media screen and (max-width: 450px) {
  .home-main__image{
    margin-bottom: 50px;
  }
  .home-main__title {
    font-size: 20px;
    max-width: 350px;
  }
}

@media screen and (max-width: 375px) {
  .home-main__title {
    font-size: 18px;
    max-width: 275px;
  }
}
